/****************************************************************************/
//    Copyright (C) 2024 Julian Xhokaxhiu                                   //
//                                                                          //
//    This file is part of FF78Launcher                                     //
//                                                                          //
//    FF78Launcher is free software: you can redistribute it and/or modify  //
//    it under the terms of the GNU General Public License as published by  //
//    the Free Software Foundation, either version 3 of the License         //
//                                                                          //
//    FF78Launcher is distributed in the hope that it will be useful,       //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of        //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         //
//    GNU General Public License for more details.                          //
/****************************************************************************/

#include <windows.h>
#include "resource.h"

#ifndef VER_FILEVERSION
#define VER_FILEVERSION             0.0.0
#endif

#ifndef VER_FILEVERSION_STR
#define VER_FILEVERSION_STR         "0.0.0\0"
#endif

#ifndef VER_PRODUCTNAME
#define VER_PRODUCTNAME             "App"
#endif

#ifndef VER_ORIGINALFILENAME
#define VER_ORIGINALFILENAME        "App.exe"
#endif

IDI_ICON1       ICON DISCARDABLE    "..\misc\FF78Launcher.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "FF78Launcher Games"
            VALUE "FileDescription",  "A Cross-Platform Modular Manager for past, present and future Games"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_PRODUCTNAME
            VALUE "LegalCopyright",   "GPLv3"
            VALUE "LegalTrademarks1", ""
            VALUE "LegalTrademarks2", ""
            VALUE "OriginalFilename", VER_ORIGINALFILENAME
            VALUE "ProductName",      VER_PRODUCTNAME
            VALUE "ProductVersion",   VER_FILEVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
